<p id="title">
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p id="image">
  <strong>Image:</strong><br>
  <% if @article.image.present? %>
  <%= image_tag @article.image_url %>
  <% end %> 
</p>

<p>
    <strong>Description:</strong>
    <%= @article.description %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @article.created_at %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
    
<h2 id="views">Number of views: <%= @article.hits %></h2>

<br><br><br><br><br>
<%= link_to 'Article List', articles_path %>